* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #61758F;
    margin:0;
}
article {
    width: 800px;
    margin:auto;
}
header {
    background-color:#202F42;
    margin: 0;
    padding:10px;
    position:fixed;
    width:100%;
    top:0;
}
footer {
    background-color:#202F42;
    margin: 0;
    padding:10px;
    color:white;
}
footer p {
    font-size: 12px;;
}
nav {
    float:right;
}
nav li {
    display: inline;
    color:white;
    margin-right:20px;
}
nav a {
    color:white;
    text-decoration: none;
    font-size:20px;
}
.clear {
    clear:both;
}
h1 {
    text-align: center;
    color:#DBCAAB;
    margin-top:100px;
}
figure {
    width:500px;
    display: block;
    margin: auto;
}
figcaption {
    text-align: center;
    color:#DBCAAB;
    margin-top:40px;
}
aside {
    color:white;
    text-align: center;
    padding:10px;
    margin-top:30px;
}
.form {
    width:200px;
    margin: auto;
    border:solid #202F42 2px;
    border-radius: 5px;
    padding:20px;
}
